@import '../common/index';

.column {
  background: $column-background-color;
  width: $column-width;
  display: inline-block;
  margin: 0 10px;
  border-radius: 5px;
  vertical-align: top;

  &.drag__column__start {
    opacity: 0;
    transition: all 0.2s ease-out;
  }

  .column__card__name {
    padding: 0 10px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  .column__card__holder {
    padding: 0 10px;
    min-height: 100px;
    max-height: 500px;
    overflow-x: scroll;
  }

  .column__add__new__card {
    padding: 0 10px;
    margin: 10px 0;

    .column__add__new__card__input {
      width: 100%;
      padding: 5px;
      background: transparent;
      border: 0px;
      transition: background 0.25s ease-in-out;

      &:focus {
        background: $white;
      }
    }
  }

  &.drag__entered {
    border: 2px dashed #333;
  }
}
