@import '../common/index';

.card {
  background: $white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  &.drag__start {
    opacity: 0;
    transition: all 0.2s ease-out;
  }

  &.drag__end {

  }

  &.invisible {
    display: none;
  }
}

.data-draggable {
  background: $white;
}
